
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


body{
    background: rgb(107, 165, 241);
    font: normal 15pt Arial;
}




header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(68, 67, 67, 0.486);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}
div{
    text-align: center;
    padding: 5px;

}